@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* START HEADER SECTION */
#header {
    background-color: #F0FFF0;
    padding-bottom: 50px;
}

section {
    margin-top: 100px;
}

.btn {
    border-radius: 50px;
}

.text-spcial {
    color: #FD511A;
}

.col-md-5 h1 {
    color: #000;
}

/* END HEADER SECTION */

/* START CATGORIES SECTION */
.catagories img {
    width: 70px;
    height: auto;
}

.cat {
    background-color: #F8FFFB;
    padding-top: 30px;
    padding-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cat:hover {
    cursor: pointer;
    background-color: #fff;
    box-shadow: 5px 5px 20px lightgray;
}

.cat h3 {
    margin-top: 30px;
    color: #413960;
}

.cat p {
    color: #585859;
    font-weight: bold;
}

/* END CATGORIES SECTION */

/* START ONLINE COURSES SECTION */
.card {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 20px lightgray;
}

.card-inside {
    width: 90%;
    margin: 15px auto;
}

.card-inside img {
    width: 100%;
}

.card-footer {
    border: none;
    background-color: #fff;
}

.card-footer img {
    width: 20px;
}

.Online-Courses h2 {
    margin-bottom: 50px;
}

/* END ONLINE COURSES SECTION */